{% extends "base.html" %}
{% load static %}

{% block title %}{{ article.titre }} – DB HIVE ENTREPRISE{% endblock %}

{% block content %}
<section class="py-4 bg-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h1 class="shop-main-title mb-3">{{ article.titre }}</h1>
                <p class="text-secondary mb-4">
                    {{ article.get_categorie_display }}
                    {% if article.date_publication %}
                        · {{ article.date_publication|date:"d/m/Y" }}
                    {% endif %}
                </p>

                {% if article.image %}
                    <div class="mb-4">
                        <img src="{{ article.image.url }}" alt="{{ article.titre }}" class="img-fluid rounded-3 w-100">
                    </div>
                {% endif %}

                <div class="bg-white">
                    {{ article.contenu|linebreaks }}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

